# Rust のビルド成果物
/target/
/debug/
/release/

# Cargo の依存関係とビルド関連
**/*.rs.bk
Cargo.lock
/.cargo/
/**/Cargo.lock

# IDE / エディタの設定ファイル
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# ログファイル / 一時ファイル
*.log
*.tmp
*.bak
*.swp
